nav{
	/*Short hand property : apply padding on all sodes*/
	padding: 0.8rem;


	margin-bottom: 2rem;
	border-bottom: 1px solid gray;

	list-style: none;


}
/*Selector Combinator*: Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0px;
	display: inline;
	margin-left: 30px;
	padding: 50px 10px;
	float: none;
	position: sticky;
}

.right-nav button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius:30px;
	font-size: -1rem;
	padding: 1rem;
}

#bg-image button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	float: none;


	

}
#container {
	text-align: center;
}
.img-float {
	width: 250px;
	height: 250px;
	float: none;
}

#bg-image {
	background-image: url( https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	background-attachment: scroll;
	float: none;





